$white:#fff;
$black:#000;
$primary: #FF6552;
$default:#695DD3;
$gray:#797979;
$facebbok: #2173B9;
$linkedin: #0278B6;
$twitter: #37A3DD;
$youtube: #E52320;
$orange:#F76442;
$blue:#3C89F6;
$cyan:#38D3DB;
$yellow:#FAC72D;
$radius1:20px;
$radius2:10px;
$orange:#FF9548;
$light_orange:#FA9C46;
$dark_orange:#ED792C;
$purple:#7468DD;
$light_purple:#7569DE;
$dark_purple:#5547CC;

$regular:400;
$medium:500;
$semiBold:600;
$bold:700;